#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b1f30 !important;
  width: 100% !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px !important;
  max-width: none !important;
  min-height: 100vh;
}

.validateEmailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
}

body::-webkit-scrollbar {
  display: none;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.homePage .filtersButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  min-width: 0 !important;
}

.homePage .sortButton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  min-width: 0 !important;
}

.genericButton {
  padding: 0;
  margin: 0;
  min-width: 0 !important;
}

.likeListItemParent {
  width: 50%!important;
  padding: 4px;
}

.likeListItem {
  border: 1px solid #143857;
  border-radius: 8px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.filtersModal {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-47%, -50%)!important;
}

.header {
  background-color: #143857 !important;
  position: sticky;
  top: 0;
  z-index: 10000;
  height: 64px;
}

.badgeCross {
  margin: 0px;
  font-size: 1.3em;
  font-weight: bold;
}

.imgMosaic {
  width: 120px;
  height: 145px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  color: transparent;
}

.imgProfile {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.profileViewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 632px;
  margin-top: 38px;
  overflow-y: scroll;
  margin-bottom: 56px;
}

.likeListParent .closeButton {
  position: absolute;
  padding: 0;
  right: 0;
  min-width: 0 !important;
  margin-right: 12px;
}

.likeList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  overflow-y: scroll;
  height: 670px;
  margin-bottom: 56px!important;
}

.skeletonHeight {
  width: 100%;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  height: 670px;
  margin-bottom: 56px!important;
}

.profileViewer .reportButton {
  position: absolute;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
  left: 0;
  top: 0;
  min-width: 0 !important;
  color: #ff000049;

  &:hover {
    color: #ff0000;
  }
}

.profileViewer .beforePhotoButton {
  position: absolute;
  left: 0;
  top: 50%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-radius: 0 120px 120px 0;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 0 !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.profileViewer .nextPhotoButton {
  position: absolute;
  right: 0;
  top: 50%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-radius: 120px 0 0 120px;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 0 !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.profileViewer .skipLikeButtons .skipButton {
  color: #ff0000;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ff0000;
  border-radius: 360px;
  padding: 8px;
  min-width: 0 !important;
}

.profileViewer .likeButton {
  color: #22ff00;
  background-color: rgba(255, 255, 255, 0)!important;
  border: 1px solid #22ff00;
  border-radius: 360px;
  padding: 8px;
  min-width: 0 !important;
}

.profileViewer .skipLikeButtons {
  display: flex;
  justify-content: space-between;
  width: 140px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 63px);
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 360px;
  border: 1px solid white;
  background-color: white;
}

.profileViewer .oneInteractionButton {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 360px;
  border: 1px solid white;
  background-color: white;
}

.profileViewer .oneInteractionButton .unblockButton {
  color: #ff0000;
  background-color: #ffffff00;
  border: 1px solid #ff0000;
  border-radius: 360px;
  padding: 8px;
  min-width: 0 !important;
}

.imgMosaicContainer {
  width: 120px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagsContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

hr {
  border-color: #0b1f30 !important;
}

.headerTitle {
  color: #fff;
  font-family: 'Noto Serif', serif;
  margin-bottom: 0px;
  margin-top: 4px;
  font-weight: 400;
  font-style: italic;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0b1f30 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}