#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b1f30 !important;
  width: 100% !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px !important;
  max-width: none !important;
  min-height: 100vh;
}

.validateEmailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.profilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
}

body::-webkit-scrollbar {
  display: none;
}

.homePage {
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
}

.header {
  background-color: #143857 !important;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 64px;
}

.badgeCross {
  margin: 0px;
  font-size: 1.3em;
  font-weight: bold;
}

.imgMosaic {
  width: 120px;
  height: 145px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  color: transparent;
}

.imgProfile {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.profileViewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.imgMosaicContainer {
  width: 120px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagsContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

hr {
  border-color: #0b1f30 !important;
}

.headerTitle {
  color: #fff;
  font-family: 'Noto Serif', serif;
  margin-bottom: 0px;
  margin-top: 4px;
  font-weight: 400;
  font-style: italic;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0b1f30 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}